<div class="footer w-100">
    <div class="container py-3">
      <div class="row text-white">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <p class="m-0 ps-2">
            Follow us:
            <i class="bi bi-twitter text-white"></i>
            <i class="ps-2 bi bi-facebook text-white"></i>
            <i class="ps-2 bi bi-instagram text-white"></i>
            <i class="ps-2 bi bi-linkedin text-white"></i>
          </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 text-lg-end text-md-end">
          <p class="m-0 ps-2">info&#64;gmail.com</p>
        </div>
      </div>
      <hr class="text-white m-2 w-100">
      <div class="text-center">
        <a class="footer-link text-decoration-none text-white" href="#">Privacy | </a> 
        <a class="footer-link text-decoration-none text-white" href="#"> Terms </a> 
        <span class="footer-text text-white">© 2023 Inc. All rights reserved</span>
      </div>
    </div>
  </div>
  