<div class="bg-header">
   <div class="container">
    <div class="d-flex justify-content-between py-2">
        <div class="col-6">
            <p class="m-0">info&#64;gmail.com</p>
        </div>
        <div class="col-6 ">
            <div class="text-end">
              <i class="bi bi-twitter text-white"></i>
                <i class="ps-2  bi bi-facebook text-white"></i>
                <i class="ps-2  bi bi-instagram text-white"></i>
                <i class="ps-2 bi bi-linkedin text-white"></i>
            </div>
        </div>
    </div>
   </div>
</div>
<div>
    <nav class="navbar navbar-expand-lg bg-black">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-lg-center justify-content-sm-start" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
              <a class="nav-link" routerLink="downloads/download" routerLinkActive="active">Download</a>
              <a class="nav-link" routerLink="translation" routerLinkActive="active">Translation</a>
              <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
              <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
              
              <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
            </div>
          </div>
        </div>
      </nav>
      
      
</div>